/* NAVBAR */
.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
}

.navbar .nav-item.active {
  border-left: #444 3px solid;
}

.navbar .navbar-nav .nav-item {
  padding: 0 0.7rem;
}

/* CAROUSEL */
.carousel-item {
  height: 450px;
}

.carousel-image-1 {
  background: url('../img/image1.jpg');
}
.carousel-image-2 {
  background: url('../img/image2.jpg');
}
.carousel-image-3 {
  background: url('../img/image3.jpg');
}