body {
  overflow-x: hidden;
}

/* NAVBAR */
.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
}

.navbar .nav-item.active {
  border-left: #444 3px solid;
}

.navbar .navbar-nav .nav-item {
  padding: 0 0.7rem;
}

/* CAROUSEL */
.carousel-item {
  height: 450px;
}

.carousel-image-1 {
  background: url('../img/image1.jpg');
}
.carousel-image-2 {
  background: url('../img/image2.jpg');
}
.carousel-image-3 {
  background: url('../img/image3.jpg');
}

/* HOME HEADING */
#home-heading {
  position: relative;
  min-height: 200px;
  background: url('../img/lights.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
}

/* VIDEO PLAY */
#video-play {
  position: relative;
  min-height: 200px;
  background: url('../img/media.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  color: #fff;
}

#video-play a {
  color: #fff;
}

/* ABOUT PAGE */
#page-header {
  height: 200px;
  background: url('../img/image1.jpg');
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

.about-img {
  margin-top: -50px;
}

